/* CSS RESET */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-sans: Helvetica, Arial, sans-serif;
  --font-serif: Georgia, sans-serif;

  --color-neutral-light: #f0f0f1;
  --color-neutral-lighter: #e0e0e5;
  --color-neutral-medium: #9f9fa9;
  --color-neutral-mediumless: #b4b4be;
  --color-neutral-darker: #83838f;
  --color-neutral-dark: #2e2e3a;

  --color-main-light: #f0f0f1;
  --color-main-medium: #9f9fa9;
  --color-main-dark: #2e2e3a;

  --color-white: #fff;
  --color-black: #000;

  --header-height: 3rem;

  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

body {
  margin: 0;
  font-size: 100%;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* LAYOUT CLASSES */

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.overscroll {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.hidden {
  display: none;
}

.display-flex {
  display: flex;
}
.display-block {
  display: block;
}
.display-inline-flex {
  display: inline-flex;
}
.display-inline-block {
  display: inline-block;
}

.flex-stretch {
  flex: 1 1 auto;
}
.flex-none {
  flex: none;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}

.scroller {
  overflow: auto;
  height: 100%;
}

.relative {
  position: relative;
}

/* FORMS */

.form-control {
  margin: 1em 0;
}

.ui-mobile label.form-label {
  margin: 0 1em 0.5em;
  font-size: 0.8em;
  color: var(--color-neutral-dark);
}

.form-input,
.form-select {
  width: 100%;
  display: inline-block;
  border-width: 0;
  background-color: var(--color-neutral-light);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font: inherit;
  outline: 0;
}

.form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
}
.select-div::before {
  content: "▶";
  color: inherit;
  position: absolute;
  z-index: 2;
  font-size: 0.8em;
  top: 50%;
  right: 1em;
  transform: translateY(-50%) rotate(90deg);
}

.form-button {
  width: 100%;
  display: inline-block;
  border-width: 0;
  background-color: var(--color-neutral-lighter);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font: inherit;
  outline: 0;
  text-align: center;
  text-decoration: none;
  /* margin-top: 2em; */
}

.form-button:hover {
  cursor: pointer;
  text-decoration: none;
}

/* DL  */
dl, dd, dt {
  padding: 0;
  margin: 0;
}
dd, dt {
  float: left;
  width: 50%;
  margin-bottom: 1em;
}
dt {
  font-weight: bold;
}
dd {
  text-align: right;
}

/* PAGE LAYOUTS */
.signin-header img,
.signup-header img {
  width: 80vw;
  height: auto;
}
.ui-mobile .ui-page-active {
  display: flex;
  flex-direction: column;

  /* Always in the center - not covered by browser elements */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* FLOATER  */
.floater {position: absolute;}
.floater.right {right: 1em;}
.floater.left {left: 1em;}
.floater.bottom {bottom: 1em;}
.floater.top {top: 1em;}

/* CIRCLE */
.btn-circle {
  background-color: var(--color-white);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.4em;
  text-align: center;
  border-radius: 2em;
  box-shadow: var(--box-shadow);
}

/* MODAL POPUP */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  z-index: 10;
  pointer-events: none;
}
.modal.active {
  opacity: 1;
}
.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}
.active .modal-back {
  pointer-events: initial;
}

.modal-body {
  background-color: var(--color-white);
  padding: 1em;
}
.modal-head h1{
  margin: 0;
  font-size: 1em;
}
.modal-head, .modal-foot {
  background-color: var(--color-neutral-light);
  padding: 0.5em 1em;
}
.modal-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vmin;
  transform: translate(-50%, calc(-50% + 3em));
  transition: all 0.3s;
}
.modal.active .modal-popup {
  transform: translate(-50%, -50%);
}
.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

/* MODAL DRAWER */
.modal-drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: all 0.3s
}
.modal-drawer .modal-body {
  flex: 1 1 100%;
}
.modal-drawer.right,
.modal-drawer.left {
  height: 100%;
}
.modal-drawer.top,
.modal-drawer.bottom {
  width: 100%;
}
.modal.active .modal-drawer { transform: translate(0); }
.modal-drawer.right { right: 0; transform: translateX(100%) }
.modal-drawer.left { left: 0; transform: translateX(-100%) }
.modal-drawer.top {top: 0; transform: translateY(-100%)}
.modal-drawer.bottom {bottom: 0; transform: translateY(100%)}


/* SUB PAGES */
.img-container {
  padding: 2em;
  text-align: center;
}

.img-container img {
  height: 20vh;
  width: auto;
}

.content-container {
  /* background: peachpuff; */
  height: 100%;
  padding: 1em;
  border-radius: 2em 2em 0 0;
  box-shadow: var(--box-shadow);
}

.content-header {
  margin-bottom: 1em;
}

.edit-button {
  align-self: center;
}

/* stretches main between header and footer */
[data-role="main"] {
  flex: 1 1 100%;
  overflow: hidden;
  position: relative;
}
.ui-header,
.ui-footer {
  flex: none;
  line-height: var(--header-height);
  height: var(--header-height);
  border-width: 0;
  background-color: var(--color-white);
  position: relative;
  overflow: hidden;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
}
.ui-header {
  height: 4em;
  line-height: 4em;
}
.ui-header .ui-title {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

ul.habit-list {
  list-style-type: none;
  margin: 0 0 100px 0;
  padding: 1em;
}
ul.habit-list li a {
  color: var(--color-main-dark);
  font-weight: 400;
  padding: 1em;
  border-radius: 5px;
  display: block;
  margin-bottom: 1em;
  box-shadow: var(--box-shadow);
}
ul.habit-list li:last-of-type a {
  margin-bottom: 2em;
}

/* NAV */
.ui-header ul,
.ui-footer ul {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0 1em;
  display: flex;
  list-style-type: none;
  align-items: center;
}
.ui-footer li {
  flex: 1 1 auto;
  text-align: center;
}

.ui-header a,
.ui-footer a {
  /* padding: 0 1em; */
  display: block;
}
.ui-header a:hover,
.ui-footer a:hover {
  text-decoration: none;
}

/* LOGO */
.header-logo {
  height: 3em;
  width: auto;
  display: block;
}

/* BUTTONS */

.primary-button-container {
  padding: 0 2em;
}

.secondary-button-container {
  padding: 0 4em;
}

a.primary-button {
  background-color: var(--color-white);
  border: 0;
  border-radius: 0.5em;
  text-transform: uppercase;
  box-shadow: var(--box-shadow);
  width: 100%;
  display: inline-block;
  padding: 0.8em 1em;
  text-align: center;
  text-decoration: none;
}

/* PAGE SPECIFICS */
#signin-page [data-role="main"] {
  display: flex;
  flex-direction: column;
}
#signup-page [data-role="main"] {
  display: flex;
  flex-direction: column;
}

/* MAP PAGE */
#map-page [data-role="main"] {
  background-image: url(../imgs/map-image.png);
  background-position: center;
  background-size: cover;
}
#map-page .primary-button-container {
  position: absolute;
  bottom: 2em;
  right: 0;
  left: 0;
  margin: auto;
}
