/* CSS RESET */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-sans: "Lato", Helvetica, sans-serif;
  --font-serif: "Raleway", Georgia, serif;

  --font-weight-light: 300;
  --font-weight-normal: 400;

  --color-white: #fff;
  --color-black: #000;

  --header-height: 3rem;

  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  --box-shadow-dark: 0 0 18px rgba(0, 0, 0, 0.25);
  --box-shadow-bottom: 0 8px 16px -8px rgba(0, 0, 0, 0.15);
  --box-shadow-inset-top: inset 0 8px 16px -8px rgba(0, 0, 0, 0.25);
  --box-shadow-subtle: 0px 8px 16px 6px #dcdcdcd6;

  --color-main-light: #f28177;
  --color-main-medium: #c44e4e;
  --color-main-dark: #e54c4c;

  --color-neutral-light: #f2f2f2;
  --color-neutral-medium: #cccccc;
  --color-neutral-dark: #333333;

  --color-sub-light: #ecf2f8;
  --color-sub-medium: #939ca6;
  --color-sub-dark: #304057;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

a {
  color: inherit;
  /* font-weight: bold; */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* LAYOUT CLASSES */

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.overscroll {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.hidden {
  display: none;
}

.display-flex {
  display: flex;
}
.display-block {
  display: block;
}
.display-inline-flex {
  display: inline-flex;
}
.display-inline-block {
  display: inline-block;
}

.flex-stretch {
  flex: 1 1 auto;
}
.flex-none {
  flex: none;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}

.scroller {
  overflow: auto;
  height: 100%;
}

.relative {
  position: relative;
}

.no-padding {
  padding: 0;
}

/* FORMS */
form {
  padding: 1em;
}

.form-control {
  margin: 1em 0;
}
.form-control.center {
  text-align: center;
}

.input-container {
  margin-bottom: 4em;
}

.ui-mobile label.form-label {
  margin: 0 1em 0.5em;
  font-size: 0.8em;
  color: var(--color-neutral-dark);
}

.form-input,
.form-select {
  width: 100%;
  display: inline-block;
  border-width: 0;
  background-color: var(--color-neutral-light);
  padding: 0.8em 1.5em;
  border-radius: 1em;
  font: inherit;
  outline: 0;
}

.form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
}
.select-div::before {
  content: "▶";
  color: inherit;
  position: absolute;
  z-index: 2;
  font-size: 0.8em;
  top: 50%;
  right: 1em;
  transform: translateY(-50%) rotate(90deg);
}

.form-button {
  width: 100%;
  display: inline-block;
  border-width: 0;
  color: var(--color-white);
  background-color: var(--color-sub-dark);
  padding: 0.8em 1.5em;
  border-radius: 1em;
  font: inherit;
  outline: 0;
  text-align: center;
  text-decoration: none;
}

.form-button:hover {
  cursor: pointer;
  text-decoration: none;
}

/* DL  */
dl,
dd,
dt {
  padding: 0;
  margin: 0;
}
dd,
dt {
  float: left;
  width: 50%;
  margin-bottom: 1em;
}
dt {
  font-weight: bold;
}
dd {
  text-align: right;
}

/* PAGE LAYOUTS */
.signin-header img,
.signup-header img {
  width: 80vw;
  height: auto;
}
.ui-mobile .ui-page-active {
  display: flex;
  flex-direction: column;

  /* Always in the center - not covered by browser elements */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* FLOATER  */
.floater {
  position: absolute;
}
.floater.right {
  right: 1em;
}
.floater.left {
  left: 1em;
}
.floater.bottom {
  bottom: 1em;
}
.floater.top {
  top: 1em;
}

/* CIRCLE */
.btn-circle {
  background-color: var(--color-white);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.4em;
  text-align: center;
  border-radius: 2em;
  box-shadow: var(--box-shadow);
}

/* MODAL POPUP */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  z-index: 10;
  pointer-events: none;
}
.modal.active {
  opacity: 1;
}
.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal.active > .modal-back {
  pointer-events: initial;
}

.modal-body p {
  font-weight: var(--font-weight-light);
  margin-bottom: 0.8em;
}
.modal-body {
  border-radius: 0.5em 0.5em 0 0;
  background-color: var(--color-white);
  padding: 1em;
  text-align: center;
}
.modal-head h1 {
  margin: 0;
  font-size: 1em;
}
.modal-head {
  background-color: var(--color-white);
  border-radius: 0.5em 0.5em 0 0;
}
.modal-foot {
  border-radius: 0 0 0.5em 0.5em;
  text-align: center;
  background: var(--color-main-dark);
  color: var(--color-white);
  text-transform: uppercase;
}
.modal-foot a {
  display: block;
}
.modal-head,
.modal-foot {
  padding: 0.5em 1em;
}
.modal-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vmin;
  transform: translate(-50%, calc(-50% + 3em));
  transition: all 0.3s;
}
.modal.active .modal-popup {
  transform: translate(-50%, -50%);
  pointer-events: initial;
}
.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* MODAL DRAWER */
.modal-drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}
.modal-drawer .modal-body {
  border-radius: 2em 2em 0 0;
  text-align: left;
  flex: 1 1 100%;
  pointer-events: initial;
}
.modal-drawer.right,
.modal-drawer.left {
  height: 100%;
}
.modal-drawer.top,
.modal-drawer.bottom {
  width: 100%;
}
.modal.active .modal-drawer {
  transform: translate(0);
  /* pointer-events: initial; */
}
.modal-drawer.right {
  right: 0;
  transform: translateX(100%);
}
.modal-drawer.left {
  left: 0;
  transform: translateX(-100%);
}
.modal-drawer.top {
  top: 0;
  transform: translateY(-100%);
}
.modal-drawer.bottom {
  bottom: 0;
  transform: translateY(100%);
}

/* SUB PAGES */
#add-habit-page [data-role="main"],
#add-habit-page [data-role="header"] {
  background-color: var(--color-sub-dark);
}

.floating-img-container {
  padding: 0 0 2em;
  text-align: center;
  height: 20vh;
  width: 20vh;
  border: 4px solid var(--color-main-dark);
  border-radius: 100%;
  padding-top: 6.5vh;
  background: var(--color-sub-dark);
  margin: auto;
  margin-bottom: 3em;
}
.floating-img-container img {
  height: 6vh;
  width: auto;
}

/* .floating-img-container h3 {
  margin-top: 4em;
  color: var(--color-main-light);
} */

.img-container {
  padding: 0 0 2em;
  text-align: center;
}

.img-container img {
  height: 20vh;
  width: auto;
}

.content-container {
  background-color: var(--color-white);
  height: 100%;
  padding: 1em;
  border-radius: 2em 2em 0 0;
  box-shadow: var(--box-shadow);
}

.content-header {
  margin-bottom: 1em;
}

.edit-button {
  align-self: center;
}

/* PROFILE */
.profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.6rem;
  width: 2.6rem;
  background-color: var(--color-sub-dark);
  color: white;
  border-radius: 50%;
}

/* stretches main between header and footer */
[data-role="main"] {
  flex: 1 1 100%;
  overflow: hidden;
  position: relative;
}
.ui-header,
.ui-footer {
  flex: none;
  line-height: var(--header-height);
  height: var(--header-height);
  border-width: 0;
  background-color: var(--color-white);
  position: relative;
  overflow: hidden;
}
.ui-header {
  height: 6em;
  line-height: 6em;
}
.ui-footer {
  box-shadow: var(--box-shadow-bottom);
}
.ui-header .ui-title {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

ul.habit-list {
  list-style-type: none;
  list-style-type: none;
  padding: 0 1em 2em;
  margin: 0;
}
ul.habit-list li {
  position: relative;
}
ul.habit-list li a {
  color: var(--color-neutral-dark);
  font-weight: 400;
  padding: 1em 1.5em;
  height: 5em;
  border-radius: 0.5em;
  position: relative;
  display: block;
  margin-bottom: 2em;
  box-shadow: 0px 8px 16px 6px #dcdcdcd6;
}
ul.habit-list li a::before {
  content: "";
  position: absolute;
  background: var(--color-main-dark);
  width: 0.5em;
  height: 100%;
  bottom: 0;
  left: -2px;
  border-radius: 0.5em 0 0 0.5em;
}
ul.habit-list h3 {
  margin: 0;
}
ul.habit-list img {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 0.5em 0.5em 0;
}
ul.habit-list p {
  margin: 0.6em 0;
  font-style: italic;
  font-size: 0.9em;
}

/* NAV */
.ui-header ul,
.ui-footer ul {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0 1em;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.ui-footer ul {
  padding: 0;
}

.ui-footer li {
  flex: 1 1 auto;
  text-align: center;
}

.ui-footer a {
  text-transform: uppercase;
  color: var(--color-neutral-medium);
  font-weight: var(--font-weight-light);
  display: block;
}
.ui-footer a.active {
  color: var(--color-main-dark);
  font-weight: var(--font-weight-normal);
}
.ui-footer a.active::after {
  display: block;
  content: "";
  background: var(--color-main-dark);
  height: 2px;
  margin-top: -2px;
}
.ui-header a:hover,
.ui-footer a:hover {
  text-decoration: none;
}

/* LOGO */
.header-logo {
  height: 2.5em;
  width: auto;
  display: block;
}

/* BUTTONS */

.primary-button-container {
  padding: 0 2em;
}

.secondary-button-container {
  padding: 0 4em;
}
a.primary-button {
  background-color: var(--color-main-dark);
  color: var(--color-white);
  border: 0;
  border-radius: 1.5em;
  text-transform: uppercase;
  box-shadow: var(--box-shadow);
  width: 100%;
  display: inline-block;
  padding: 0.8em 1em;
  text-align: center;
  text-decoration: none;
}

a.emp-link {
  color: var(--color-main-dark);
  margin-left: 0.2em;
}

/* PAGE SPECIFICS */
#signin-page [data-role="main"] {
  display: flex;
  flex-direction: column;
}
#signup-page [data-role="main"] {
  display: flex;
  flex-direction: column;
}
/* For modal-drawer overflow */
#list-page, #map-page {
  flex: 1 1 100%;
  overflow: hidden;
  position: relative;
}

/* MAP PAGE */

#map-page [data-role="main"] {
  background-image: url(../imgs/map-image.png);
  background-position: center;
  background-size: cover;
  box-shadow: var(--box-shadow-inset-top);
}
#map-page .primary-button-container {
  position: absolute;
  bottom: 2em;
  right: 0;
  left: 0;
  margin: auto;
  padding: 0 3em;
}
