/* CSS RESET */

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --font-sans: Helvetica, Arial, sans-serif;
  --font-serif: Georgia, sans-serif;

  --color-neutral-light: #f0f0f1;
  --color-neutral-lighter: #e0e0e5;
  --color-neutral-medium: #9f9fa9;
  --color-neutral-mediumless: #b4b4be;
  --color-neutral-darker: #83838f;
  --color-neutral-dark: #2e2e3a;

  --color-main-light: #f0f0f1;
  --color-main-medium: #9f9fa9;
  --color-main-dark: #2e2e3a;

  --color-white: #fff;
  --color-black: #000;

  --header-height: 3rem;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* LAYOUT CLASSES */

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hidden { display: none; }

.display-flex { display: flex; }
.display-block { display: block; }
.display-inline-flex { display: inline-flex; }
.display-inline-block { display: inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }
.flex-justify-center { justify-content: center }
.flex-align-center { align-items: center }

/* FORMS */

.form-control {
  margin: 1em 0;
}

.ui-mobile label.form-label {
  margin: 0 1em 0.5em;
  font-size: 0.8em;
  color: var(--color-neutral-dark);
}

.form-input {
  width: 100%;
  display: inline-block;
  border-width: 0;
  background-color: var(--color-neutral-light);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font: inherit;
  outline: 0;
}

.form-button {
  width: 100%;
  display: inline-block;
  border-width: 0;
  background-color: var(--color-neutral-lighter);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font: inherit;
  outline: 0;
  text-align: center;
  text-decoration: none;
}

.form-button:hover {
  cursor: pointer;
  text-decoration: none;
}


/* PAGE LAYOUTS */
.ui-mobile .ui-page-active {
  display: flex;
  flex-direction: column;

  /* Always in the center - not covered by browser elements */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* stretches main between header and footer */
[data-role='main'] {
  flex: 1 1 100%;
  overflow: hidden;
  position: relative;
}
.ui-header, .ui-footer {
  flex: none;
  line-height: var(--header-height);
  height: var(--header-height);
  border-width: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  position: relative;
  overflow: hidden;
}
.ui-header .ui-title{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

/* NAV */
.ui-header ul,
.ui-footer ul {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.ui-footer li {
  flex: 1 1 auto;
  text-align: center;
}

.ui-header a,
.ui-footer a {
  padding: 0 1em;
  display: block;
}
.ui-header a:hover,
.ui-footer a:hover {
  text-decoration: none;
}

/* PAGE SPECIFICS */
#signin-page [data-role='main'] {
  display: flex;
  flex-direction: column;
}
#signin-page [data-role='main'] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}